@import '../variables';

.item-block {
  position: relative;
  width: 300px;
  text-align: center;
  margin-bottom: 65px;
  cursor: pointer;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;

    &__wrapper {
      width: 300px;
      background: $grey-bg;
      border-radius: 15px;
      cursor: pointer;
      transition: opacity 1s;

      &:hover {
        transition: opacity 1s;
        opacity: 0.8;
      }
    }

    &__wrapper + .add {
      display: none;
    }

    &__wrapper:hover + .add {
      display: block;
    }


  }



  &__title {
    width: 300px;
    margin: 10px 0 3px;
    font-size: 18px;
  }

  &__price {
    width: 300px;
  }
}



.add {
  display: none;
  position: absolute;
  top: 35%;
  left: 25%;
  background-color: $white;
  color: $black;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  border-width: 0;
  cursor: pointer;

  &:hover {
    display: block;
    //color: darken($white, 30);
    cursor: url("../../assets/cart-icon-cropped.svg"), auto;
  }
}
